.states :hover {
    opacity: 50%;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.states {
    width: 100%;
    height: 700px;
    fill: url(#hash);
    font-family: Open Sans, sans-serif;
}
#mapsvg_pr {
    margin-left:70px;
    width: 1000px;
    height: 600px;
    font-family: Open Sans, sans-serif;
}
#hash-g {
    fill: none;
    stroke: rgb(202, 202, 202);
    stroke-width: 7px;
}
.heading {
    width: 1050px;
    margin-left: 100px;
    margin-top: 40px;
}
#state-graphs {
    width: 1050px;
    margin-top: 50px;
    font-family: Open Sans, sans-serif;
}
.selected {
    stroke: black;
    stroke-width: 2px;
}
.plotbg {
    fill: lightgray;
    stroke: lightgray;
    stroke-width: 4;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

div.tooltip {
    color: black;
    position: absolute;
    text-align: right;
    width: 130px;
    height: 32px;
    padding: 2px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background: white;
    border: 2px solid black;
    pointer-events: none;
}

.d3-tip {
    line-height: 1;
    text-align: center;
    position: absolute;
    padding: 16px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}

.chart-tip {
    line-height: 1;
    text-align: center;
    position: relative;
    margin-left: 3em;
    padding: 14px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
}

.legend {
    position:absolute;
    font-weight: bold;
    text-anchor: end;
    font: 11px Open Sans;

}
.axis-label {
    font-size: 12px;
    font-weight: bold;
}
.label {
    font-size: 20px;
    font-weight: bold;
}
.no-data{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    fill: rgb(165, 178, 190);
}
#lineChart-radioInputs {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}
